body{
    margin: 0;
    padding: 0;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}



h1 {
    margin-left: 1%;
}

main {
    background-color: rgb(148, 5, 5);
    display: flex;

    flex-direction: column;

    grid-area: main;
}

footer {
    background-color: purple;
    grid-area: footer;
}

:root {
    --color-1: black;
    --text-color: white;
    --accent-color: red;
}


header {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: header;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s ease;
}

header a:hover {
    background-color: var(--accent-color);
}

header #home-link {
    margin-right: auto;
}

header svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

@media (max-width: 550px) {
    .links-container {

        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px black;

        transition: .5s ease-out;
    }

    header a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding: 20px 20px;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }
}

main section{
    padding: 15px;
}


.arama-container-1 h2{
    font-size: 2rem;
    padding-top: 5px;
}

.arama-container-1 p{
    padding-top: 10px;
    padding-bottom: 15px;
}

.arama-container-2{
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.arama-bari{
    height: 100%;
    width: 70%;
    border-radius: 17px;
    border-color: transparent;

}

.arama-bari::placeholder{
    color: rgba(0, 0, 0, 0.679);
    padding: 10px;
}

.arama-buton{
    height: 50px;
    width: 50px;
    border-radius: 17px;
    border-color: transparent;

    margin-left: 20px;
}

hr{
    border-top-color: rebeccapurple;
    border-bottom: none;
}

#aciklama h3{
    font-size: 2rem;
    padding-top: 5px;
}

#aciklama p{
    padding-top: 10px;
    padding-bottom: 15px;
}

footer{
    padding: 15px;
    display: flex;
    align-items: center;
}

footer p{
    font-size: 1.1rem;
}

footer a{
    text-decoration: none;
    color: rgb(24, 24, 24);
}